:host {
  body {
    padding: 0;
    margin: 0;
  }

  .container {
    margin: 15px auto;
  }

  .message, .error {
    position: absolute;
    left: 5%;
    width: 90%;
    z-index: 99999;
  }

  .message {
    bottom: 0;
  }

  .error {
    bottom: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .resizable {
    resize: both;
    overflow: hidden;
  }

  .movehandle {
    height: 20px;
    width: 20px;
    top: 0;
    right: 0;
    position: absolute;
    background-color: lightgray;
    border: none;
    cursor: move;
    background-image: url("https://image.flaticon.com/icons/svg/50/50685.svg");
    background-size: 20px 20px;
  }
}
